services:
  #container name
  app:
    image: wenboliu68/showplayer:${IMAGE_TAG:-latest}
    build:
      context: .
      # only needed if you have env vars that are needed at build time
      args:
        - AUTH_SECRET=${AUTH_SECRET}
        - AUTH_URL=${AUTH_URL}
        # - AUTH_TRUST_HOST=${AUTH_TRUST_HOST}
        - AUTH_GOOGLE_ID=${AUTH_GOOGLE_ID}
        - AUTH_GOOGLE_SECRET=${AUTH_GOOGLE_SECRET}
        - AUTH_DISCORD_ID=${AUTH_DISCORD_ID}
        - AUTH_DISCORD_SECRET=${AUTH_DISCORD_SECRET}
        - CRON_SECRET=${CRON_SECRET}
        - DATABASE_URL=${DATABASE_URL}
        - TMDB_API_KEY=${TMDB_API_KEY}
        - VPS_URL=${VPS_URL}
        - BUNNY_URL=${BUNNY_URL}
        - FRONTEND_URL=${FRONTEND_URL}
        - HEADLESS=${HEADLESS}
        - FIRST_CLICK=${FIRST_CLICK}
        - LONG_CLICK=${LONG_CLICK}
        - MID_CLICK=${MID_CLICK}
        - SHORT_CLICK=${SHORT_CLICK}
        - M3U8_WAIT_JOY=${M3U8_WAIT_JOY}
        - M3U8_WAIT_EASY=${M3U8_WAIT_EASY}
        - M3U8_WAIT_LINK=${M3U8_WAIT_LINK}
        - M3U8_WAIT_FAST=${M3U8_WAIT_FAST}
        - GA_MEASUREMENT_ID=${GA_MEASUREMENT_ID}
    # maps the vps port 8080 to the container's port 3000
    ports:
      - '8080:3000'
    # docker compose will use the .env file
    environment:
      - NODE_ENV=production
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_URL=${AUTH_URL}
      # - AUTH_TRUST_HOST=${AUTH_TRUST_HOST}
      - AUTH_GOOGLE_ID=${AUTH_GOOGLE_ID}
      - AUTH_GOOGLE_SECRET=${AUTH_GOOGLE_SECRET}
      - AUTH_DISCORD_ID=${AUTH_DISCORD_ID}
      - AUTH_DISCORD_SECRET=${AUTH_DISCORD_SECRET}
      - CRON_SECRET=${CRON_SECRET}
      - DATABASE_URL=${DATABASE_URL}
      - TMDB_API_KEY=${TMDB_API_KEY}
      - VPS_URL=${VPS_URL}
      - BUNNY_URL=${BUNNY_URL}
      - FRONTEND_URL=${FRONTEND_URL}
      - HEADLESS=${HEADLESS}
      - FIRST_CLICK=${FIRST_CLICK}
      - LONG_CLICK=${LONG_CLICK}
      - MID_CLICK=${MID_CLICK}
      - SHORT_CLICK=${SHORT_CLICK}
      - M3U8_WAIT_JOY=${M3U8_WAIT_JOY}
      - M3U8_WAIT_EASY=${M3U8_WAIT_EASY}
      - M3U8_WAIT_LINK=${M3U8_WAIT_LINK}
      - M3U8_WAIT_FAST=${M3U8_WAIT_FAST}
      - GA_MEASUREMENT_ID=${GA_MEASUREMENT_ID}
    restart: unless-stopped
